In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

### API

DataFrame的API中：pd. DataFrame （data=None， index= None， columns =None， dtype None， copy=False），需要注意的是，除了数据是基本元素以外，还有行索引，列索引以及数据类型。

---
![](https://i.loli.net/2019/06/29/5d170f9c0e6f090246.png)
![](https://i.loli.net/2019/06/29/5d170fcf8d90133341.png)

In [2]:
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509